button {
  padding: 10px;
  margin: 60px;
  background-color: orange;
  border: 2px solid blue;
}
#bulb {
  height: 500px;
  width: 500px;
  /* position: fixed; */
  background-color: black;
  /* margin-left: 25px;
  margin-left: 25px; */

}
.on:hover{
background-color:gold;
color: rgb(242, 15, 15);
}
.on{
  color: rgb(237, 237, 246);
  background-color: rgb(18, 177, 240);
  border-radius: 30%;
  border-color:  darkorange;
}
.off:hover{
  background-color:rgb(18, 217, 74);
  color: blue;
  }
  .off{
    color: rgb(237, 237, 246);
    background-color: rgb(0, 0, 0);
    border-radius: 30%;
  border-color:  rgb(8, 242, 78);
  }
  .light{
    border: 2px solid rgb(4, 0, 255);
    text-decoration: none;
    
    
  }
  .buttons{
    background-color: rgb(22, 15, 239);
  }
  img{
    position: sticky;
  }