
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.scoll{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 400px;
    width: 400px;
    overflow: scroll;
}
h1{
    text-align: center;
}
/* ::-webkit-scrollbar{
    width: 0;
} */